Diagnostics:
  UnusedIncludes: None
  Suppress:
    - cppcoreguidelines-owning-memory
    - cppcoreguidelines-avoid-do-while

---
If:
  PathMatch: (^|.*/)complete/tremolo_plugin/.*\.(h|hpp|cpp)
CompileFlags:
  Add:
    - -std=gnu++2b
    - -DJUCE_GLOBAL_MODULE_SETTINGS_INCLUDED=1
    - -DDEBUG=1
    - -I/Users/michaelbarakat/projects/tremolo-juce-course/complete
    - -I/Users/michaelbarakat/projects/tremolo-juce-course/complete/libs/juce/modules
    - -I/Users/michaelbarakat/projects/tremolo-juce-course/complete/cmake-build/juce_binarydata_tremolo_plugin_assets/JuceLibraryCode
    - '-DTREMOLO_PLUGIN_NAME="Tremolo"'

---
If:
  PathMatch: (^|.*/)todo/tremolo_plugin/.*\.(h|hpp|cpp)
CompileFlags:
  Add:
    - -std=gnu++2b
    - -DJUCE_GLOBAL_MODULE_SETTINGS_INCLUDED=1
    - -DDEBUG=1
    - -I/Users/michaelbarakat/projects/tremolo-juce-course/todo
    - -I/Users/michaelbarakat/projects/tremolo-juce-course/todo/libs/juce/modules
    - -I/Users/michaelbarakat/projects/tremolo-juce-course/todo/cmake-build/juce_binarydata_tremolo_plugin_assets/JuceLibraryCode
    - '-DTREMOLO_PLUGIN_NAME="Tremolo"'

